.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato';
  font-weight: bolder;
}

.user p {
  font-family: 'Lato';
}

.dashview {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: 'Lato', sans-serif;
}

.dashview h4 {
  font-family: 'Lato';
  font-weight: bolder;
}

.dashview p {
  margin: 0 auto;
  font-weight: bolder;
  background-color: #dfdfdf;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.act-listings {
  background-color: rgb(236, 236, 236);
  margin-right: 3rem;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 3rem;
  width: 100%;
}

.act-listings a {
  text-decoration: none;
  color: black;
}

.act-bookings {
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 2rem;
  margin-top: 3rem;
  width: 100%;
}

.act-bookings a {
  text-decoration: none;
  color: black;
}

.avatar-dashboard {
  width: 150px;
  border-radius: 50%;
  margin-right: 1rem;
}

.con {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
}

.con img {
  height: 15px;
  width: auto;
  margin-left: 0.5rem;
}
