.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

.user h3 {
  font-family: 'Lato';
  font-weight: bolder;
}

.user p {
  font-family: 'Lato';
}

.dashview {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: 'Lato', sans-serif;
}

.dashview h4 {
  font-family: 'Lato';
  font-weight: bolder;
}

.dashview p {
  background-color: #dfdfdf;
  width: 30vw;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.act-listings {
  background-color: rgb(236, 236, 236);
  margin-right: 3rem;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 3rem;
}

.act-listings a {
  text-decoration: none;
  color: black;
}

.act-bookings {
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 2rem;
  margin-top: 3rem;
  width: 30vw;
}

.avatar-dashboard {
  width: 150px;
  border-radius: 50%;
  margin-right: 1rem;
}
