// Specific CSS for your home-page
body {
  margin: 0;
  height: calc(100vh - 170px);
}

.content {
  min-height: calc(100vh - 170px);
}

.home {
  margin: 0 auto;
  margin-top: 2rem;
}

.home h2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 2.1rem;
  font-weight: bolder;
}
