.appliance {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  // min-height: calc(100vh - 70px);
  margin-left: 3rem;
  margin-top: 3rem;
}

.appliance h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.appliance img {
  margin-right: 3rem;
  border-radius: 8px;
}

.appliance-infos {
  display: flex;
}

.appliance-infos p {
  background-color: rgb(236, 236, 236);
  padding: 8px 10px;
  margin-right: 1rem;
  border-radius: 8px;
}

.appliance-content {
  width: 100%;
  position: relative;
}

#pricelabel {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 20px;
  font-weight: bolder;
  background-color: $navbar-footer;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
}

#ava-green {
  background-color: $maingreen;
  padding: 8px 10px;
  margin-right: 1rem;
  border-radius: 8px;
  color: white;
}

#ava-red {
  background-color: #e69a5d;
  padding: 8px 10px;
  margin-right: 1rem;
  border-radius: 8px;
  color: white;
}

.bookform {
  margin-top: 2rem;
  margin-right: 3rem;
}
