.btn {
  color: white;
}

.btn-ghost {
  color: #000000;
  border: 1px solid #CFD4D9;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  transition: 0.3s;
  margin-right: 1rem;
}

.btn-ghost:hover {
  background-color: #CFD4D9;
  border: 1px solid #CFD4D9;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #1BCB7F;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #52f5ae;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btns {
  display: flex;
}

.btn-book {
  font-size: 20px;
  font-weight: bolder;
  background-color: $navbar-footer;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
}
