.navbar-lewagon {
  justify-content: space-between;
  background: $navbar-footer;
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 25px;
}
