.signup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  align-items: center;
}

.signup h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
