<h1>Appliance#show</h1>
<p>Find me in app/views/appliance/show.html.erb</p>

<% if policy(appliance).edit? %>
  <%= link_to "Update", edit_appliance_path(appliance) %>
<% end %>

<% if policy(appliance).destroy? %>
  <%= link_to "Delete", appliances_path %>
<% end %>
